<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/signup.css">
  <title>Sign in & Sign up</title>

  <!-- because here class names are same as bootstrap class , so can tuse bootstrap CDN -->
  <style>
    .alert {
      position: relative;
      padding: 1rem 1rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }

    .alert-success {
      color: #0f5132;
      background-color: #d1e7dd;
      border-color: #badbcc;
    }

    .alert-danger {
      color: #842029;
      background-color: #f8d7da;
      border-color: #f5c2c7;
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">

        <!-- login user -->
        <form action="/login" method="POST" class="sign-in-form">
          <%- include('partials/message') -%>
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="email" placeholder="Email" name="username" required>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password" required>
            </div>
            <input type="submit" value="Login" class="btn solid">
            <p class="social-text">Or Sign in with social platforms</p>
            <div class='g-sign-in-button'>
              <div class=content-wrapper>
                <div class='logo-wrapper'>
                  <img src='https://developers.google.com/identity/images/g-logo.png'>
                </div>
                <span class='text-container'>
                  <a href="/auth/google"> Sign in with Google </a>
                </span>
              </div>
            </div>
        </form>

        <!-- register user -->
        <form action="/register" method="POST" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Name" name="name" required>
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" name="username" required>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" required>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Confirm Password" name="cpassword" required>
          </div>
          <input type="submit" class="btn" value="Sign up">
          <p class="social-text">Or Sign up with social platforms</p>
          <div class='g-sign-in-button'>
            <div class=content-wrapper>
              <div class='logo-wrapper'>
                <img src='https://developers.google.com/identity/images/g-logo.png'>
              </div>
              <span class='text-container'>
                <a href="/auth/google"> Sign in with Google </a>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel" style="margin-bottom: 40%;">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
            ex ratione. Aliquid!
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
        <img src="img/log.svg" class="image object img-moving" alt="">
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>One of us ?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            laboriosam ad deleniti.
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Sign in
          </button>
        </div>
        <img src="img/register.svg" class="image" alt="">
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</body>

</html>